<div id="aboutme" class="widget-area grid-25 tablet-grid-25 grid-parent sidebar"">
    <div class="inside-right-sidebar">
        <aside class="widget inner-padding widget_aboutme">
            <h3 class="widget-title">About Me</h3>    
            <style>
                .aboutme {
                    clear: both
                }
                .aboutme * {
                    border: 0px solid;
                    right:auto;
                }
                .aboutme img {
                    padding: 0px;
                }
            </style>
        <div class='aboutme'>
            <img width="120" height="80" style='float:right; margin:5px;' src='/assets/images/Profile.jpeg'>
            <h4>Automation Engineer</h4>
            <h4>Minneapolis, MN</h4>
        <div style='clear:both'>
        </div>
        </aside>
    </div>
</div>