<div class="widget-area grid-25 tablet-grid-25 grid-parent sidebar">
    <div class="inside-right-sidebar">
        <aside id="aboutme" class="widget inner-padding widget_aboutme">
            <h2 class="widget-title">About Me</h2>    
            <style>
                .aboutme {
                    clear: both
                }
                .aboutme * {
                    border: 0px solid;
                    right:auto;
                }
                .aboutme img {
                    padding: 0px;
                }
            </style>
        <div class='aboutme'>
            <img width="120" height="80" style='float:right; margin:5px;' src='/assets/images/Profile.jpeg'>
            <h3>Automation Engineer</h3>
            <h4>Minneapolis, MN</h4>
            <span style="font-size: x-small;">
                Disclaimer: The views and opinions expressed in this blog are those of the author and do not necessarily reflect the official policy or position of my Employer.
            </span>
        <div style='clear:both'>
        </div>
        </aside>
    </div>
</div>