<div id="aboutme" class="widget-area grid-25 tablet-grid-25 grid-parent sidebar"">
    <div class="inside-right-sidebar">
        <aside class="widget inner-padding widget_aboutme">
            <h3 class="widget-title">About Me</h3>    
            <div class='aboutme'>
                <img width="120" height="80" style='float:right; margin:5px;' src='/assets/images/Profile.jpeg'>
                <p>Automation Engineer</p>
                <p>Minneapolis, MN</p>
            <div style='clear:both'>
        </aside>
    </div>
</div>