<!-- Footer -->

<hr>

<footer>
  <a href="./License.txt">License</a>
  <div style="position: center;">
    <span class="copyright text-center text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</span>
  </div>
  <span class="copyright text-center text-muted">
    Disclaimer: The views and opinions expressed in this blog are those of the author and do not necessarily reflect the official policy or position of my Employer. All Code and work is open sourced under the above license. Please use and share, but credit me and my peers for our work.
</span>
</footer>
