<!-- Footer -->

<hr>

<footer>
  <a href="/assets/presentations/License">License</a>
  <p class="copyright text-center text-muted" style="font-size: small;">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
  <span style="font-size: x-small;">
    Disclaimer: The views and opinions expressed in this blog are those of the author and do not necessarily reflect the official policy or position of my Employer. All Code and work is open sourced under the above license. Please use and share, but credit me and my peers for our work.
</span>
</footer>
